<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.panel"
      android:versionCode="1"
      android:versionName="1.0.0">
    <uses-sdk android:targetSdkVersion="17" android:minSdkVersion="10"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Test"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.mc76.lotto649.slidedrawer.CaptureEnterNumberActivity"
            android:label="capture enter numbers" >
            <intent-filter>
                <action android:name="com.mc76.slidedrawer.CaptureEnterNumberActivity" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
    </application>
</manifest> 